* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;

    .main__products-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        padding: 50px;
        
        .main__products-list__title {
            display: flex;
            width: fit-content;
            text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
            margin-bottom: 15px;
        }

        .main__filters {
            display: flex;
            width: 100%;
            flex-direction: column;
            font-size: 16px;
            font-weight: bold;

            form {
                font-size: 14px;
                font-weight: normal;
                
                input {
                    width: 250px;
                    margin: 10px 5px;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-radius: 2px;
                    padding-left: 5px;
                    @media (max-width: 374px) {
                        width: 200px;
                    }
                }
                input:focus {
                    outline: none;
                }
            }
        }
        .main__products-list_items {
            display: flex;
            width: 100%;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            @media (max-width: 767px) {
                flex-direction: column;
            }

            .main__products-list__products-list-item {
                display: flex;
                width: calc(25% - 40px);
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                border: 1px solid black;
                border-radius: 10px;
                box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.5);
                padding: 20px;
                margin: 20px;
                position: relative;
                @media (max-width: 1439px) {
                    width: calc(33.3% - 40px);
                }
                @media (max-width: 1023px) {
                    width: calc(50% - 40px);
                }
                @media (max-width: 767px) {
                    width: calc(100% - 40px);
                }
    
                .mpp_title {
                    margin-bottom: 15px;
                }
    
                .mpp_photo {
                    display: flex;
                    width: 250px;
                    height: 250px;
                    margin: 0 auto;
                    margin-bottom: 15px;
                    @media (max-width: 1439px) {
                        width: 200px;
                        height: 200px;
                    }
                    @media (max-width: 374px) {
                        width: 150px;
                        height: 150px;
                    }
                }
    
                .mpp_description {
                    font-size: 14px;
                    margin-bottom: 15px;
                    line-height: 18px;
                }
    
                .mpp_quantity-available {
                    margin-bottom: 15px;
                }
    
                .mpp_details-btn, .mpp_delete-btn {
                    display: flex;
                    width: fit-content;
                    margin: 0 auto;
                    padding: 5px 10px;
                    background-color: transparent;
                    border: 1px solid black;
                    border-radius: 5px;
                    font-size: 16px;
                    transition: all 0.3s;
                    color: black;
                    margin-bottom: 15px;
                }

                .mpp_delete-btn {
                    position: absolute;
                    top: 15px;
                    right: -5px;
                    margin: 0;
                    transform: scale(0.7);
                }

                .mpp_details-btn:hover {
                    transition: all 0.3s;
                    transform: scale(1.2);
                    background-color: black;
                    color: white;
                    cursor: pointer;
                }
                .mpp_delete-btn:hover {
                    transition: all 0.3s;
                    transform: scale(1) translateX(-20px);
                    background-color: red;
                    color: black;
                    cursor: pointer;
                }
                .mpp_details-btn:focus {
                    outline: none;
                }
            }
        }
    }
}

